#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
GenericName=WebYaST
Name=WebYaST
Exec=/usr/bin/chromium --app="https://localhost:54984"
Terminal=false
Icon=qwebyast
Type=Application
Categories=Network;WebBrowser;
