[Desktop Entry]
Type=Application
Exec=qwebyast
Terminal=false
Name=WebYaST Applet
Icon=qwebyast

X-KDE-StartupNotify=false
#X-KDE-autostart-condition=qwebyastrc:General:Autostart:true
X-KDE-autostart-after=panel
Categories=Qt;KDE;System;Applet;
#OnlyShowIn=KDE
